#Home
{
    position: absolute;
    top:20px;
    left:100px;
    right: 20px;
    display: flex;
    color: var(--FontColor);
    font-family: Montserrat-ExtraBold;

}

#Home .WelcomeText
{
    margin: 100px;
    font-size: 100px;
    text-align: left;
}
#Home .NextText
{
    margin-top: 20px;
    font-size: 35px; 
    display: block;
}