#Home
{
    position: absolute;
    left:100px;
}
#Home .NameCompany
{
    font-size: 35px;
    font-family: Montserrat-ExtraBold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    color: var(--FontColor);
    align-items: center;

}
#Home .NameCompany .valueName
{
    max-width: 500px;
    overflow-wrap: break-word;
}
#Home .NameCompany .IconEdit
{
    margin-left: 10px;
    margin-right: 10px;
}
#Home .NameCompany input
{
    text-align: center;
    font-size: 35px;
    color:var(--FontColor);
    font-family: Montserrat-ExtraBold;
    background-color: transparent;
    min-width: 50px;
    max-width: 500px;
    outline: none;
    border: none;
}
#Home .WelcomeText
{
    color:var(--FontColor);
}