#Messages{
    position: absolute;
    display: grid;
    grid-template-rows: 1fr 200px;
    top:25px;
    right:25px;
    bottom:25px;
    left:100px;
    overflow: hidden;
}

#Messages .options
{
    background-color: var(--NavBarColor);
    margin: 25px;
    padding: 25px;
    grid-template-rows: 50px 1fr;
    display: grid;
    gap:20px;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 20%);
    border-radius: 0px 25px 25px 0px;

}

#Messages .options .optionView
{
    color:var(--FontColor);
    background-color: var(--Background);
    position: relative;
    border-radius: 15px;
    display: grid;
}

#Messages .options .optionView .formMeet
{
    display: grid;
    grid-template-rows: repeat(6, 1fr)
}
#Messages .options .optionView .text
{
    align-self: center;
    font-family: Montserrat-ExtraBold;
    font-size: 20px;
}

#Messages .values
{
    background-color: var(--NavBarColor);
    margin: 25px;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 20%);
    border-radius: 25px 0px 0px 25px;
    overflow: auto;
}

#Messages .optionsMessage
{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 350px;
    overflow: auto;
}
#Messages .values > div
{
    padding: 25px;
    /* margin:25px; */
    gap: 18px;
    display: flex;
    flex-direction: column;
}

#Messages .inputValue{
    position: relative;
    display: grid;

}

#Messages .inputValue > div{
    background-color: var(--NavBarColor);
    box-shadow: 0px 0px 15px rgb(0 0 0 / 20%);
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr 150px;
    margin: 25px;
}
#Messages .inputValue > div > textarea{
    outline: none;
    border: none;
    margin: 15px;
    resize: none;
    overflow:hidden;
    margin-left: 25px;
    margin-right: 25px;
    background-color: transparent;
    font-size: 20px;
    color:var(--FontColor);
    font-family: Montserrat;
    text-align: left;

}
#Messages .inputValue > div > textarea::placeholder {
    color:var(--FontColor);
    font-family: Montserrat;
    text-align: left;
    opacity: .5;
}
#Messages .inputValue .send
{
    background-color: transparent;
    position: relative;
    margin: 0 auto;
    width: 60px;
    top:45px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
}

#Messages .inputValue .send:hover
{

    background-color: var(--NavBarSecondColor);
}
#Messages .inputValue .send svg
{
    position: relative;
    top:15px;
}

#Messages .messageView
{

    font-size: 20px;
    color: var(--FontColor);
    text-align: left;
    max-width: 75%;
    background-color: var(--Background);
    padding: 10px;
    display: flex;
    flex-direction: column;
}
#Messages .messageView .author
{
    border-radius: 10px 10px 10px 0px;
    font-size: 12px;
    opacity: .65;
    margin-top: 5px;
    color: var(--FontColor);
    
    background-color: var(--Background);
}
#Messages .messageView .date
{
    border-radius: 10px 10px 10px 0px;
    font-size: 12px;
    opacity: .65;
    color: var(--FontColor);
    background-color: var(--Background);
}
#Messages .messageView .valueText
{
    max-width: 1000px;
    padding-top: 5px;
    font-size: 20px;
}
#Messages .messageView .meetView
{
   background-color: var(--NavBarColor);
   color:var(--BackgroundColor);
   border-radius: 15px;
   padding: 15px;
   margin:10px;
   box-shadow: 0px 0px 15px rgb(0 0 0 / 20%);
}

#Messages .messageView .meetView .meet_header
{
    font-family: Montserrat-ExtraBold;
}