.project-module
{

    background-color: #232d37;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    max-width: 590px;
    cursor: pointer;
}
.project-module .title
{
    height: 50px;
    background-color: #243443;
    border-radius: 5px 5px 0px 0px;
    text-align: left;
    display: flex;
    justify-content:space-between;
}
.project-module .title img
{
    position: relative;
    margin: 10px;
    right: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 5px;
}

.project-module .title span{
    float: left;
    padding-right: 100px;
    align-self: center;
    position: relative;
    left:25px;
    font-size: 18px;
}
.project-module .content
{
    margin: 25px;
    text-align: left;
}

.project-module .version
{
    background-color: #243443;
    padding: 10px;
    text-align: right;
    border-radius: 0px 0px 5px 5px;
}