#CV
{
    position: absolute;
    top:100px;
    left:20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    min-width: 750px;
    gap:25px;
    user-select:text;
}
#CV .CV
{
    display: flex;
    max-width: 1280px;
    align-self: center;
    flex-direction: row;
    background-color: #20364c;
    border-radius: 15px;
}
#CV .CV .left 
{
    width: 50%;
    min-width: 500px;
}
#CV .CV .right
{
    width: 50%;
    display: flex;
    flex-direction: column;
    min-width: 250px;
}
#CV .CV .right img
{
    width: 200px;
    align-self:flex-end;
    margin: 25px;
    float: right;
    border-radius: 15px;
}
#CV .CV .left .name
{
    text-align: left;
    margin-top: 15px;
    margin-left: 25px;
    font-family: Montserrat-ExtraBold;
    font-size: 40px;
}
#CV .CV a{
    font-style: none;
    text-decoration: none;
    line-break: none;
    line-clamp: none;
    color:white;
}
#CV .CV .left .contact
{
    margin-left: 25px;
    margin-top: 25px;
    flex-direction: column;
    gap:10px;
    display: flex;
}
#CV .CV .left .section
{
    text-align: left;
    align-self:flex-start;
    margin-top: 25px;
    gap:25px;
    display: flex;
    flex-direction: column;
}
#CV .CV .left .section .title
{
    background-color: white;
    color:#20364c;
    text-align: left;
    font-family: Montserrat-ExtraBold;
    font-size: 25px;
    padding-left: 25px;
    max-width: 350px;
    padding-right: 100px;
    align-self: left;
    height: 50px;
    border-radius: 0px 25px 25px 0px;
}
#CV .CV .left .section .content
{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
#CV .CV .left .section .title span{
    position:relative;
    top:10px
}
#CV .CV .left .contact >div{
    display: flex;
    gap:10px;
}
#CV .CV .left .contact .material-icons
{
    margin-top: 5px;
}
#CV .CV .left .contact >div >div{
    align-self: center;
}
#CV .download
{
    align-self: center;
    border: 1px solid #238ae4;
    color:#238ae4;
    border-radius: 10px;
    padding:10px;
    width: 200px;
}
#CV .download:hover
{
    background-color: #238ae4;
    color:white;
    cursor: pointer;
}

#CV input
{
    background-color: var(--second-color);
    border: none;
    outline:none;
    font-family: Montserrat;
    padding: 10px;
    color:white;
    font-size: 15px;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    align-self: center;
}

#CV input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 255, 255, 0.493);
    opacity: 1; /* Firefox */
  }