.NoAuth
{
    opacity: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    font-family: 'Montserrat-ExtraBold';
    font-size:25px;
    color: var(--LoadingColor);

}
.NoAuth img
{
    align-self: center;
    width: 250px;
    margin-top: 50px;
    content: var(--logo);
}


  