@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url(font/Montserrat-ExtraBold.ttf);
}
@font-face {
  font-family: "Montserrat-light";
  src: url(font/Montserrat-Light.ttf);
}
@font-face {
  font-family: "Montserrat";
  src: url(font/Montserrat-Medium.ttf);
}

:root {
  --background: #4d4d4d;
}
html{margin:0px}
body {
 background-color: var(--background);
  margin: 0px;
  color:white;
  font-family: Montserrat;
  user-select: none;
}



