@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url(font/Montserrat-ExtraBold.ttf);
}
@font-face {
  font-family: "Montserrat-light";
  src: url(font/Montserrat-Light.ttf);
}
@font-face {
  font-family: "Montserrat";
  src: url(font/Montserrat-Medium.ttf);
}

:root {
  --primary-color: #212a35;
  --second-color: #243443;
}
html{margin:0px}
body {
  background: var(--primary-color);
  margin: 0px;
  color:white;
  font-family: Montserrat;
  user-select: none;
}

