#ProjectView
{
    position: absolute;
    top:100px;
    left:25px;
    right: 25px;
    text-align: left;
}

#ProjectView .info_1
{
    display: flex;
    justify-content: space-between;
}

#ProjectView .info_1 .info
{
    max-width: 25%;
    word-wrap: break-word;
}

#ProjectView .info_1 .title
{
    font-size: 25px;
    font-family: Montserrat-ExtraBold;
}

#ProjectView .info_1 .author
{
    font-size: 15px;
    font-family: Montserrat-light;
}

#ProjectView .info_1 .avatar
{
    float:right;
    font-family: Montserrat-light;
    height: 100px;
    width: 100px;
}
#ProjectView .info_1 .avatar img
{
    height: 100%;
    width: 100%;
    border-radius: 15px;
}